# --- Carpetas grandes ---
venv/


# --- Archivos de configuración ---
config.pkl

# --- Jupyter ---
.ipynb_checkpoints/

# --- Cache Python ---
__pycache__/
*.pyc

# --- Modelos y arrays pesados ---
*.pkl
*.npz
*.npy
*.h5
*.pt
*.pth
*.joblib

# --- Imágenes y datasets ---


# --- VSCode ---
.vscode/

# --- macOS ---
.DS_Store